.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #f0bd3a !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.38);
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #f0bd3a !important;
}
