.div_inner_main_Person_data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.div_inner_Person_data {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
  align-items: center;
}
.div_inner_Person_data2 label {
  color: #707070;
  font-size: 12px !important;
  font-family: "myFontSM";
}

.div_inner_Person_data2 a {
  word-wrap: break-word;
  width: 400px;
  font-size: 13px;
  font-family: "myFontSM";
  color: rgb(14, 12, 105);
  text-decoration: underline;
  cursor: pointer;
}
.div_inner_Person_data2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.div_inner_Person_data label {
  color: #707070;
  font-size: 13px !important;
  font-family: "myFontSM";
}
.div_inner_Person_data h6 {
  font-size: 14px;
  font-family: "myFontSM";
  color: #000;
}
.div_main_Person_data {
  height: 100%;
  width: 100%;
}
.div_inner_main_Person_data_ach {
  display: flex;
  justify-content: center;
  height: 70px;
  overflow-y: auto;
  margin-bottom: 30px;
}
.div_inner_main_Person_data_ach p {
  width: 80%;
  font-size: 13px;
}
.div_inner_main_Person_data_skl_time {
  display: flex;
  align-items: center;
}
.div-home-appt-inner-skls {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  overflow-y: auto;
}
.div-home-appt-inner-skls p {
  width: 100px;
  height: 30px;
  background: #f0bd3a;
  display: flex;
  border-radius: 8px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}
.div-home-appt-inner-timings {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  overflow-y: auto;
}
.div-home-appt-inner-timings p {
  width: 100px;
  height: 30px;
  background: #f0bd3a;
  display: flex;
  border-radius: 8px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}
.div-home-appt-inner-exit {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.div_inner_Person_data label {
  font-size: 12px !important;
}
.div_inner_Person_data h6 {
  font-size: 12.5px !important;
}
.div_inner_Person_data_icons {
  justify-content: center;
}
.div-home-appt-inner-timings,
.div-home-appt-inner-skls {
  justify-content: center;
}
