.arch-main-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.arch-overflow {
  overflow-y: auto;
  height: 78%;
  padding: 15px;
  width: 80%;
}
.arch-overflow-div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.div-arch-card-int {
  margin: 20px;
}
