.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #f0bd3a !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.38);
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #f0bd3a !important;
}
.stepper_exit_mui_btn_shortlisted {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.input-stepper-schedule {
  width: 100%;
}
.div-schediling-step-info {
  display: flex;
  width: 50%;
  justify-content: center;
  /* align-items: center; */
  background-color: #fff;
  flex-direction: column;
  height: 200px;
  border-radius: 10px;
}
.div-schediling-step-info h6 {
  font-size: 24px;
  width: 80%;
  align-self: center;
}
.div-inputs-schediling-step {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  height: 100px;
}
.nxt-btn-sch {
  width: 50%;
  position: relative;
  top: 0;
}
.nxt-btn-btn {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #f0bd3a;
  background: #f0bd3a;
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  cursor: pointer;
}
.sch-stepper-form-div {
  background-color: #f3f0f0;
  width: 100%;
  /* padding: 20px 150px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  align-items: center;
}
.bck-btn-sch {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}
.div-input-icon-date-sch {
  display: flex;
  width: 65%;
  background: #f3f4f8 !important;
  border-radius: 16px;
  height: 55px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
