.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #3e469d !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: rgba(0, 0, 0, 0.38);
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #3e469d !important;
}
.stepper_exit_mui_btn_shortlisted {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.input-stepper-schedule {
  width: 50%;
}
.div-schediling-step-info_date {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.div-schediling-step-info {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  height: 300px;
  border-radius: 10px;
}
.div-schediling-step-info_date h6 {
  font-size: 24px;
  width: 80%;
  align-self: center;
}
.div-schediling-step-info h6 {
  font-size: 24px;
  width: 80%;
  align-self: center;
}
.div-inputs-schediling-step_date {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  height: 90%;
}
.div-inputs-schediling-step {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  height: 50%;
}
.nxt-btn-sch {
  width: 50%;
  position: relative;
  top: 0;
}
.nxt-btn-btn {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #3e469d;
  background: #3e469d;
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  cursor: pointer;
}
.sch-stepper-form-div {
  /* background-color: #f3f0f0; */
  width: 100%;
  /* padding: 20px 150px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  align-items: center;
}
.bck-btn-emp-main {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bck-btn-sch {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}
.div-input-icon-date-sch {
  display: flex;
  width: 75%;
  background: #f3f4f8 !important;
  border-radius: 6px;
  /* height: 200px; */
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
.tsc-calendar {
  padding: 0 !important;
}
.tsc-month {
  font-size: 11px !important;
}
.slots-time-picker {
  width: 25%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  margin: 15px;
  cursor: pointer;
}
.slots-time-picker:hover {
  background-color: #3e469d;
}
.div-schediling-step-info-phy-vir {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
.div-schediling-step-info-phy-vir-inner {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px grey;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
}
.div-schediling-step-info-phy-vir-inner:hover {
  background-color: #3e469d;
  color: #fff;
}
.css-1s8ir4e {
  display: flex !important;
  flex-direction: column !important;
}
.create-cont-div-rv_scg {
  background-color: transparent !important;
}
@media (min-width: 1051px) and (max-width: 1420px) {
  .css-m5vj9m-MuiStepper-root {
    height: 75px !important;
  }
  .stepper_exit_mui_btn_shortlisted {
    align-self: center;
    position: relative;
    top: 20px;
  }
  .nxt-btn-btn {
    height: 35px;
    width: 60%;
  }
  .input-stepper-schedule {
    width: 85%;
  }
  .slots-time-picker {
    height: 35px;
    width: 20%;
    border-radius: 12px;
  }
  .div-input-icon-date-sch {
    width: 100%;
  }
  .div-inputs-schediling-step_date {
    width: 90%;
  }
  .sch-stepper-form-div {
    height: 80%;
  }
  .div-input-icon-date-sch-time {
    height: 185px;
  }
  .create-cont-div-rv_scg {
    height: 77%;
  }
}
