.arch-main-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.arch-overflow {
  overflow-y: auto;
  height: 78%;
  padding: 15px;
  width: 80%;
}
.arch-overflow-div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.div-arch-card-int {
  margin: 20px !important;
  cursor: pointer;
}
.Archive-ind-header-heading-int {
  left: 20px;
  width: 96%;
}
.div_inner_main_Person_data_ach-arch {
  margin-bottom: 10px !important;
}
@media (min-width: 360px) and (max-width: 767px) {
  .Archive-ind-header-heading-int {
    left: 5%;
    width: 90%;
    top: 30px;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .arch-overflow {
    width: 85% !important;
  }
  .arch-overflow-div {
    justify-content: center;
    align-content: flex-start;
  }
}
