.epemp-main-div-edit-CV-main {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  overflow: auto;
  display: flex;
  align-self: center;
}
.epemp-main-div-edit-innerCV-main {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 900px;
}
