body > #root > div {
  height: 100vh;
}
.nav-main-div {
  width: 15%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 100%;
  padding-left: 110px;
}
.nav-div {
  display: flex;
  justify-content: flex-start;
}
.nav-main-div div h6 {
  font-size: 25px;
  position: relative;
  top: 30px;
}
.nav-div-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}
.nav-div-ul2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
ul {
  list-style: none;
}
li {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.logout-nav {
  justify-content: flex-start !important;
}
/* .li0 {
  background-color: #f3f0f0;
} */
