@font-face {
  font-family: regular;
  src: url("./assets/fonts/regular.otf");
}

@font-face {
  font-family: bold;
  src: url("./assets/fonts/bold.otf");
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  outline: none;
  /* font-family: regular; */
}

*,
::after,
::before {
  box-sizing: unset !important;
}
body {
  font-family: regular;
  /* font-size: 17px; */
  overflow: auto;
  /* font-weight: 400; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

h1 span {
  color: #ec1d23;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-weight: 800;
  font-family: Helvetica, sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 16px;
}
